LLM_BASE_URL=
LLM_MODEL=
LLM_API_KEY=
TTS_API_URL=
TTS_MODEL=
TTS_VOICE=
SNAC_DEVICE=
TTS_TEMPERATURE=
TTS_TOP_P=
TTS_REPETITION_PENALTY=
TTS_MAX_TOKENS=
CHAT_PORT=
ZOHO_ACCOUNTS_HOST=
ZOHO_API_BASE_URL=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ACCESS_TOKEN=
ZIA_RAG_AUTH=
